<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /nama-folder-proyek-anda/
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)$ index.php/$1 [L]
</IfModule>
